﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    resize: none;
}

.post {
    border-radius: 25px;
    background: #e1e1d0;
    padding-bottom: 10px;
    margin-top: 30px;
}

.post-text {
    font-size: 17px;
    color: black;
}

.comment {
    
    border-radius: 10px;
    background: #f5f5f0;
}

.comment-row {
    border: dashed #e53c37;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .comment-row > p {
        margin: 4px;
        font-size: 14px;
    }

.comment-text {
    color: black;
}
