﻿@model Blog.Models.Post

@{
    ViewBag.Title = "Nowy Post";
}


<h2>Napisz nowy post</h2>
<br /><br />

@using (Html.BeginForm("Posted", "AdminThings"))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.Author, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Author, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.Title, new { @class = "col-md-4 control-label" })
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <textarea id="creator" name="text"></textarea>
            </div>
            <div class="form-group col-md-8">

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-7">
                <button class="btn btn-primary">Dodaj</button>
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/tinymce/tinymce.js"></script>
    <script>tinymce.init({
            selector: "#creator",
            plugins: "textcolor advlist lists hr",
            toolbar:"formatselect, fontselect, fontsizeselect, forecolor,bold, italic, hr,|, alignleft, alignright, aligncenter, alignjustify,|, bullist, numlist "
        });
    </script>
}


