﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hej " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj &nbsp;&nbsp;</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", new { returnUrl = Request.Url.ToString() }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logowanie", "Login", "Account", new { returnUrl = Request.Url.ToString() }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
