﻿@model Blog.Models.Post

<h3>@Model.Title</h3>
<p>@Model.Date <br /> autor: @Model.Author</p>
<p class="post-text">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Text))</p>
<p>
    Polubienia: <span id="likes">@Model.Likes</span>
    @if (User.Identity.IsAuthenticated)
    {
        <span>&nbsp;&nbsp;<i class="glyphicon glyphicon-thumbs-up js-like" data-post-id=@Model.PostId data-user-name=@User.Identity.Name></i></span>
        <span>&nbsp;&nbsp;<i class="glyphicon glyphicon-thumbs-down js-dislike" data-post-id=@Model.PostId data-user-name=@User.Identity.Name></i></span>
    }
</p>


