﻿@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Start";
}

<div class="jumbotron">
    <h2>Witaj</h2>
    <p>na moim randomowym blogu, na którym to będę uczył się, testował a przedewszystkim bawił poznawanymi technologiami.</p>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="container">
            <h2>Ostatnie wpisy</h2>
            @foreach (var post in Model)
            {
                <div class="post col-md-8">
                    <h3>@post.Title</h3>
                    <p>
                        @post.Date <br />
                        autor: @post.Author
                    </p>
                    @if (post.Text.Count() <= 170)
                    {
                    <p class="post-text">@Html.Raw(System.Web.HttpUtility.HtmlDecode(post.Text))</p>
                    }
                    else
                    {
                    <p class="post-text">@Html.Raw(System.Web.HttpUtility.HtmlDecode(post.Text)).ToString().Remove(170)...</p>
                    }
                    <p>
                        Polubienia: @post.Likes
                        @Html.ActionLink("Zobacz posta", "ShowPost", "MainContent", new { id = post.PostId }, new { @class = "btn btn-link btn-xs" })
                    </p>
                </div>

            }
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
