﻿@model IEnumerable<Blog.Models.Post>
@{
    ViewBag.Title = "Posts";
}

<h2>Posty</h2>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="post col-md-8" data-post-id=@item.PostId>
                @Html.Partial("_Post", item)
                <p>@Html.ActionLink("Komentarze (" + item.Comments.Count + ")", "ShowPost", new { id = item.PostId }, new { @class = "btn btn-success btn-xs" })</p>
            </div>
        }
    </div>
</div>

@section scripts
    {

    @if (User.Identity.IsAuthenticated)
    {
        <script>
            $(document).ready(function () {
                $.post("/api/like/showLike", { userLogin: $(".js-like").attr("data-user-name") }, function (data) {
                    $.each(data, function (n, v) {
                        $(".post").each(function (z, x) {
                            if (v.postId == x.getAttribute("data-post-id")) {
                                if (v.isLike) {
                                    $(".js-like[data-post-id=" + v.postId + "]").css("color", "blue");
                                }
                                else if (!v.isLike) {
                                    $(".js-dislike[data-post-id=" + v.postId + "]").css("color", "red");
                                }
                            }
                        });
                    })
                });

                $(".js-like").on("click", function () {
                    var postLike = {
                        postId: $(this).attr("data-post-id"),
                        userLogin: $(this).attr("data-user-name"),
                        isLike: true
                    };
                    $.post("/api/like/addlike/", postLike)
                        .done(function (data) {
                            $(".js-like[data-post-id=" + postLike.postId + "]").parent().siblings("#likes").text(data.likes);
                            $(".js-dislike[data-post-id=" + postLike.postId + "]").css("color", "grey");
                            $(".js-like[data-post-id=" + postLike.postId + "]").css("color", "blue");

                        });
                });

                $(".js-dislike").on("click", function () {
                    var postLike = {
                        postId: $(this).attr("data-post-id"),
                        userLogin: $(this).attr("data-user-name"),
                        isLike: false
                    };
                    $.post("/api/like/addlike/", postLike)
                        .done(function (data) {
                            $(".js-dislike[data-post-id=" + postLike.postId + "]").parent("span").siblings("#likes").text(data.likes);
                            $(".js-like[data-post-id=" + postLike.postId + "]").css("color", "grey");
                            $(".js-dislike[data-post-id=" + postLike.postId + "]").css("color", "red");
                        });
                });
            });
        </script>
    }
}
