﻿@model Blog.ViewModels.PostCommentViewModel
@{
    ViewBag.Title = Model.Post.Title + " by " + Model.Post.Author;
}

<div class="container">


    <div class="container">
        <div class="row">
            <div class="container post col-md-8">
                @Html.Partial("_Post", Model.Post)
                @if (!User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Zaloguj się", "Login", "Account", new { returnUrl = Request.Url.ToString() }, new { @class = "btn btn-success btn-sm" })
                    <span>aby skomentować post</span>
                }
                else
                {
                    <button id="js-comment" class="btn btn-success btn-sm">Skomentuj</button>
                }
            </div>
        </div>
        <div class="container">
            <div id="js-content" class="post col-md-5" style="display:none">
                @using (Html.BeginForm("SaveComment", "MainContent", new { id = Model.Post.PostId }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="form-group col-md-10">
                            @Html.LabelFor(m => m.Comment.Text)
                            @Html.TextAreaFor(m => m.Comment.Text, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Comment.Text)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">@User.Identity.Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary btn-sm">Wyślij</button>
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="container">
            <h4>Komentarze (@Model.Comments.Count)</h4>
            <div class="comment col-md-6">
                @foreach (var comment in Model.Comments)
                {
                    <div class="row">
                        <div class="comment-row">
                            <p>@comment.Date</p>
                            <p>@comment.User napisał(a):</p>
                            <p class="comment-text">@comment.Text</p>
                            @*<p>Lubiki: @comment.Likes</p>*@
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts{

    @if (User.Identity.IsAuthenticated)
    {
        <script>
            $(document).ready(function () {

                $.post("/api/like/showLike", {
                    postId: $(".js-like").attr("data-post-id"),
                    userLogin: $(".js-like").attr("data-user-name")
                }, function (data) {
                    if (data.isLike) {
                        $(".js-like").css("color", "blue");
                    }
                    else if (!data.isLike) {
                        $(".js-dislike").css("color", "red");
                    }
                });

                $(".js-like").on("click", function () {
                    var postLike = {
                        postId: $(this).attr("data-post-id"),
                        userLogin: $(this).attr("data-user-name"),
                        isLike: true
                    };
                    $.post("/api/like/addlike/", postLike)
                        .done(function (data) {
                            $("#likes").text(data.likes);
                            $(".js-dislike").css("color", "grey");
                            $(".js-like").css("color", "blue");

                        });
                });

                $(".js-dislike").on("click", function () {
                    var postLike = {
                        postId: $(this).attr("data-post-id"),
                        userLogin: $(this).attr("data-user-name"),
                        isLike: false
                    };
                    $.post("/api/like/addlike/", postLike)
                        .done(function (data) {
                            $("#likes").text(data.likes);
                            $(".js-like").css("color", "grey")
                            $(".js-dislike").css("color", "red");
                        });
                });
            });
        </script>
    }

    <script>
        $(document).ready(function () {
            $("#js-comment").on("click", function () {
                $("#js-content").slideToggle(1500);
            });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
