﻿
@{
    ViewBag.Title = "Index";
}

<h2>AJAX</h2>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button id="js-newestpost" class="btn btn-primary">Ostatni post</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div id="js-data" class="post col-md-8" style="display:none">
            <h3 id="js-title"></h3>
            <p id="js-date-author"></p>
            <p id="js-text" class="post-text"></p>
            <p>
                Polubienia: --
                &nbsp;&nbsp;<i class="glyphicon glyphicon-thumbs-up"></i>
                &nbsp;&nbsp;<i class="glyphicon glyphicon-thumbs-down"></i>
            </p>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#js-newestpost").on("click", function () {
                $.get("/api/post").done(function (data) {
                    console.log("jea");
                    $("#js-newestpost").attr("disabled", true);
                    $("#js-title").text(data.title);
                    $("#js-date-author").html(data.date.replace("T", " ").substring(0, 19) + "<br /> autor: " + data.author);
                    $("#js-text").text(data.text);
                    $("#js-data").slideDown(1500);
                })
                    .fail(function (data) {
                        console.log("cos sie zjebalo");
                    });

                //$.ajax({
                //    url: "/api/post",
                //    method: "get",
                //    dataType: "json",
                //    success: function (data) {
                //        console.log("jea")
                //        $("#js-newestpost").attr("disabled", true);
                //        $("#js-title").text(data.title);
                //        $("#js-date-author").html(data.date + "<br /> autor:" + data.author);
                //        $("#js-text").text(data.text);
                //        $("#js-data").slideDown(1500);
                //    },
                //    error: function (data) {
                //        console.log("cos sie zjebalo");
                //    }
                //});

            });
        });
    </script>
}