﻿
@{
    ViewBag.Title = "Table";
}

<h2>Tabelka</h2>
@if (User.IsInRole("Admin"))
{
    <div>
        <button id="js-new" class="btn btn-success btn-sm">Dodaj nowy</button>
    </div>
}

<hr />
<div class="container">
    <div class="row">
        <div class="input-group col-lg-offset-10 col-lg-2">
            <input class="form-control" id="js-search" type="text" placeholder="szukaj" value="" />
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        </div>
        <div id="js-meal">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Rodzaj</th>
                        <th>Cena</th>
                        <th>Kalorie</th>
                        <th>Białko</th>
                        <th>Węgle</th>
                        <th>Tłuszcz</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="container col-lg-offset-1 col-lg-2" id="js-form" style="display:none">
                <form class="form-horizontal" id="asd">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Nazwa</label>
                            <input type="text" id="js-name" class="form-control" placeholder="Posiłek" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Cena</label>
                            <input type="text" id="js-price" class="form-control" placeholder="Hajs" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Kalorie</label>
                            <input type="text" id="js-kalorie" class="form-control" placeholder="Kalorie" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Białko</label>
                            <input type="text" id="js-protein" class="form-control" placeholder="Białko" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Węgle</label>
                            <input type="text" id="js-carbo" class="form-control" placeholder="Węgle" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Tłuszcz</label>
                            <input type="text" id="js-fat" class="form-control" placeholder="Tłuszcz" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Rodzaj</label>
                            <select class="form-control" id="js-mealcategory">
                                <option value="0" selected disabled hidden>Rodzaj</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <input class="btn btn-primary" type="submit" name="name" value="Wyślij" />
                    </div>
                </form>
            </div>
        }
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>Wybrane</h2>
            <ul type="1" id="js-choices"></ul>
        </div>
        <div id="js-result" class="col-lg-3">
            <h2>Wynik</h2>
            <p>Kalorie: <span></span> kcal</p>
            <p>Cena: <span></span> zł</p>
            <p>Białko: <span></span> g</p>
            <p>Węgle: <span></span> g</p>
            <p>Tłuszcz: <span></span> g</p>
            <p>[Kalorie/Cena]: <span></span> kcal/zł</p>
            <p>[Białko/Cena]: <span></span> g/zł</p>
            <p>[Węgle/Cena]: <span></span> g/zł</p>
            <p>[Tłuszcz/Cena]: <span></span> g/zł</p>
        </div>
        <div id="pie-chart" class="col-lg-3">
        </div>
    </div>
</div>



@section scripts
{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="~/Scripts/mealTable.js"></script>
    @if (User.IsInRole("Admin"))
    {
        <script>
            $(document).ready(function () {

                $.get("/api/meal/getcategory")
                    .done(function (data) {
                        $.each(data, function (key, value) {
                            $("#js-mealcategory").append("<option value=" + value.categoryId + ">" + value.categoryName + "</option>")
                        });
                    });

                $("#js-form").submit(function (event) {
                    event.preventDefault();
                    var meal =
                        {
                            mealName: $("#js-name").val(),
                            kalorie: $("#js-kalorie").val(),
                            protein: $("#js-protein").val(),
                            carbo: $("#js-carbo").val(),
                            fat: $("#js-fat").val(),
                            price: $("#js-price").val(),
                            categoryId: $("#js-mealcategory").val()
                        };
                    $.post("/api/meal/addnew", meal)
                        .done(function (data) {
                            var trMeal = "<tr data-meal-id=" + data.mealId + "><td>" + meal.mealName + "</td> <td>" + $("#js-mealcategory [value=" + meal.categoryId + "]").text()
                                + "</td> <td>" + meal.price + "</td> <td>" + meal.kalorie + "</td> <td>" + meal.protein
                                + "</td> <td>" + meal.carbo + "</td> <td>" + meal.fat + "<td><button class='btn-xs btn-link js-delete'>usuń</button>" + "</td ></tr > ";
                            $("#js-meal tbody").append(trMeal);
                            $("#js-name").val("");
                            $("#js-kalorie").val("");
                            $("#js-protein").val("");
                            $("#js-carbo").val("");
                            $("#js-fat").val("");
                            $("#js-price").val("");
                            $("#js-mealcategory").val(0);
                        })
                        .fail(function () {
                            alert("coś poszło nie tak");
                        });
                });

                $("table tbody").on("click", ".js-delete", function () {
                    var button = $(this);
                    var mealId = button.parents("tr").attr("data-meal-id");

                    if (confirm("Czy jesteś pewien?")) {
                        $.ajax({
                            url: "/api/meal/" + mealId,
                            method: "delete",
                            data: "",
                            success: function () {
                                button.parents("tr").remove();
                            },
                            error: function () {
                                alert("coś nie pykło");
                            }
                        });
                    }
                });

                $("#js-new").on("click", function () {
                    $("#js-meal").toggleClass("col-lg-9");
                    $("#js-form").toggle();

                });
            });
        </script>
    }
}
